footer {
    margin-top: 30px;
    height: 100px;
    background-color: var(--header-footer-backgroud);
    color: var(--strip-and-text);
}

p.line-height-footer {
    text-align: center;
    line-height: 100px;
}
